<h1>Stupid Coaching</h1>
<p>Ask your coach anything: </p>
<form action="/answer" data-turbo="false">


<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Type here" name='question'>
  <div class="input-group-append">
    <span><input type='submit' value='Ask!' class="input-group-text btn btn-primary"></span>
  </div>
</div>


</form>
